<div class="sign container2">
<%#= render "devise/shared/links" %>
<h1>Sign in</h1>
<section>
  <ul class="other_sign">
      <li><a class="" href="/users/auth/facebook"><i class="fa fa-facebook"></i>    <span>Facebook</span>アカウントでログイン</a></li>
      <li><a class="" href="/users/auth/twitter"><i class="fa fa-twitter"></i>    <span class="b_tw">twitter</span>アカウントでログイン</a></li>
  </ul>
</section>

<section>
<h2 class="heading_002">メールアドレスでログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <span class="rem_label><%= f.label :remember_me %></span>
    </div>
  <% end %>

  <div class="actions btn_type1">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
</section>
</div>