
<p>マイページの表示</p><br>

<%= link_to 'プロフィール変更', edit_user_registration_path %> <br><br>

<!-- <%= home_index_path %><br> -->
<!-- <%= home_index_url %><br> -->


<p>【お気に入りのお店一覧】</p>


<ul>
	<% @shops.each do |shop| %>

	<li><%=shop.name %></li>
	<li><%=shop.image_url %></li>
	<li><%=shop.display_phone %></li>
	<li><%=shop.location_display_address %></li>
	<li><%=shop.rating_image_small_url %></li>
	<li><%=shop.review_count %> reviews</li>

	<% end %>
</ul>

<div class="result">

	<% @shops.each do |shop| %>

      <img class="biz_img" src="', business['image_url'], '">',
      <h5><a href=""><%=shop.name %></a></h5>,
      <img src="', business['rating_img_url'], '">
      <p>'business['review_count']' reviews</p>

      <p class="clear-fix"></p>
      <% end %>

</div>



<!-- <div class="result">
      <img class="biz_img" src="', business['image_url'], '">',
      <h5><a href="', business['url'] ,'" target="_blank">', business['name'], </a></h5>,
      <img src="', business['rating_img_url'], '">
      <p>', business['review_count'], ' reviews</p>
      <p class="clear-fix"></p>
</div> -->
