
<p>マイページの表示</p><br>

<%= link_to 'プロフィール変更', edit_user_registration_path %> <br><br>

<!-- <%= home_index_path %><br> -->
<!-- <%= home_index_url %><br> -->


<p>【お気に入りのお店一覧】</p>


<!-- <ul>
	<% @shops.each do |shop| %>
      <li><%=shop.url %></li>
	<li><%=shop.name %></li>
	<li><%=shop.image_url %></li>
	<li><%=shop.display_phone %></li>
	<li><%=shop.location_display_address %></li>
	<li><%=shop.star %></li>
	<li><%=shop.review_count %> reviews</li>
	<% end %>
</ul> -->

<div id="">      
      <div class="result">
      
         <% @shops.each do |shop| %>
            <h4><a href="<%=shop.url %>"><%=shop.name %></a></h4><br>
      
            <img class="biz_img" src="<%=shop.image_url %>" alt="お店画像">
            <p><%=shop.display_phone %></p>
            <p><%=shop.location_display_address %></p>
            
            <img class="" src="<%=shop.star %>" alt="rating"><br>
            <p><%=shop.review_count %> reviews</p>
   
            <p class="clear-fix"></p>
            <!-- <p class="d_btn">お気に入りから削除</p><br> -->
            <!-- ※favorite_destroy_path(id: shop.id) は、favoriteコントローラーのdestroyメソッドにとび、
             とび先は、お気に入りしたshopのidの飛び先。-->
             <%= link_to "お気に入りから削除", favorite_destroy_path(id: shop.id), method: :delete,
                                                 data: { confirm: "お気に入りから削除しますか？" } %>

         <% end %>
      
      </div>
</div>


